* {
    font-family: monospace;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none;
    animation: screenwipe 1s forwards;
  }

  @keyframes screenwipe {
    0% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
  }